body {
    background-color:blueviolet;
}

.body {
    color: black;
    height: 500px;
    width: 500px;
    margin: auto;
    text-align: center;
    box-shadow: 2px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 80px;
}

.list ul {
    
    display: flex;
    gap: 25px;
    list-style: none;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    text-decoration: underline;
    position: relative;
    flex-direction: row;
   
}

.login {
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
}
img{
    border-radius: 250%;
    box-shadow: 50%;
    border-color: white;
    

}
input{
text-decoration: none;
}

button {
 background-color:black;
color: white;
font: bold;
box-shadow: 4px;
width: 200px;
height: 30px;
box-shadow: 20px;
border-color: white;
}



.forgot {
    text-decoration: underline;
}