*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background: linear-gradient(to right,#ef1053 0%, #ca10ef 50%, #e809fd 100%);
}
.container{
   
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    margin: auto;
    /* border: 1px solid black; */
    width: 400px;
    height: 600px;
    text-align: center;
    margin-top: 40px;
    
}
.img [src]{
    border: 10px solid white;
    border-radius: 50%;
    width: 150px;
    height: auto;
}

button{
    background: black;
    color: white;
    padding: 10px 85px;
    border-bottom: 4px solid white;
    border-right: 4px solid white;
}
a{
    color: black;
    font-weight: 900;

}
#enter
{
    background: transparent;
    border-bottom:2px solid black;
    border-top-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
}
