*{margin: 0;
padding: 0;}
body{background-color:rgb(180, 135, 223);}

.nav{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}
.head{
text-align: center;
margin-top: 40px;
font-size: 40px;
font-weight: bold;
}
img{
    width: 180px;
    border-radius: 50%;
    margin-left: 560px;
    margin-top: 50px;
}
.username-box{
    margin-left: 520px;
    margin-top: 20px;
}
.password-box{
    margin-left: 520px;  
    margin-top: 20px;

}
input{
    margin-left: 20px;
    border: none;
    color: black;
    background-color: rgb(180, 135, 223);;
    border-bottom:solid 2px black;
  
    

}
button{
    margin-left: 530px;
    margin-top: 40px;
height: 50px;
width: 250px;
color: white;
background-color:black;
border-bottom: solid 3px;
border-right: solid 3px;
font-size: 17px;

}
a{
    color: black;
}
.forget{


    margin-left: 610px;
    
}
.check-box{
    margin-left: 200px;
    margin-top: 100px;
}

