*{
    margin: 0;
    padding: 0;
    font-family: monospace;
}
body
{
    background: rgb(222, 23, 244);
}
.main-container{
    display: flex;
    flex-wrap:wrap;
    max-width: 1200px;
    
}
.content-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 50px;
}
.nav-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    /* background: lawngreen; */
    width: 1200px;
}
.top-ulist{
    list-style-type: none;
    padding: 2px;
    /* display: inline; */
}
.navtext{
    color: black;
    font-weight: bolder;
}
.li{
    display: inline;
    padding-left: 3px;
    padding-right: 3px;
}
#headlogin{
    padding-top: 70px;
    font-size: 50px;
}
.img-profile
{
    height: 50px;
    width: 50px;
}
.photo{
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    /* border-radius: 100%;
    border: 3px solid white; */
    
}
.head{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
width: 1200px;
justify-content: center;
}
.table-class{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
width: 1200px;
justify-content: center;
padding-top: 70px;

}
.login-class{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
width: 1200px;
justify-content: center;
padding-top: 30px;
padding-bottom: 30px;
}
.neo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
width: 1200px;
justify-content: center;
padding-top: 20px;
}
.btn{
    padding: 10px;
    padding-left: 70px;
    padding-right: 70px;
    background: black;
    color: white;
    box-shadow: 2px 2px snow;
}
.inner-neo{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10px;
}
span{
    font-size: 15px;
    font-weight: bolder;
}
.table-text{
    font-weight: bolder;
    padding: 5px;
}
.box{
    border: none;
    border-bottom: 1px solid black;
    background: rgba(255, 255, 255, 0);
}