*{
    margin: 0%;
    padding: 0%;
}
.parent{
    width: 100%;
    height: 100%;
    /* background-color: aqua; */
}
.bg{
    display: flex;
}   
.a{
    height: 1000px;
    width: 8%;
    background-color: rgb(141, 104, 104);
}
.b{
    height: 1000px;
    width: 8%;
    background-color: rgb(146, 99, 99);
}
.c{
    height: 1000px;
    width: 8%;
    background-color: rgb(156, 98, 98);
}
.d{
    height: 1000px;
    width: 8%;
    background-color: rgb(161, 60, 60);
}
.e{
    height: 1000px;
    width: 8%;
    background-color: rgb(168, 57, 57);
}
.f{
    height: 1000px;
    width: 8%;
    background-color: rgb(180, 65, 65)
}
.g{
    height: 1000px;
    width: 8%;
    background-color: rgb(192, 75, 75);
}
.h{
    height: 1000px;
    width: 8%;
    background-color: rgb(201, 110, 110);
}
.i{
    height: 1000px;
    width: 8%;
    background-color: rgb(209, 87, 87);
}
.j{
    height: 1000px;
    width: 8%;
    background-color: rgb(223, 111, 111);
}
.k{
    height: 1000px;
    width: 8%;
    background-color: rgb(231, 104, 104);
}
.l{
    height: 1000px;
    width: 8%;
    background-color: rgb(241, 117, 117);
}
.nav{
    /* background-color: red; */
    width: 25%;
    height: 50px;
    display: flex;
    gap: 5%;
    margin-left: 30%;
    
}
.head{
    margin-left: 34%;
}
.image{
    margin-left: 37%;
    border: 50%;
}
.form{
    margin-left: 30%;
}

